.login-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    background: rgb(253, 209, 180);
    margin: 300px auto;
    position: relative;
    text-align: left;
    border: solid rgb(154, 243, 181);
    
}

.login-container h2 {
  text-align: center;
}


