header{
    color:rgb(1, 53, 1);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    margin: 50px;

}
 
 p {
    color:rgb(1, 53, 1);
    font-family: Verdana, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    margin: 0px 50px;
    text-align: justify;
}


img {
    margin-left: 20px;
    margin-right: 35px !important;
    height: 20%;
    width: 20%;
    float: right;
}

.navbar {
    height: 60px;
    line-height: 60px;
}

.container {
    margin-left: 42%;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: rgb(1, 53, 1);
    display: inline;
    width: 10%;
}

.nav {
    display: inline;
    list-style-type: none;
}

.nav li {
    display: inline;
}

