header{
    color:rgb(1, 53, 1);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    margin: 20px;

}
 
 p {
    color:rgb(1, 53, 1);
    font-family: Verdana, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    margin: 20px;
    text-align: justify;
}

footer {
    text-align: center;
    margin: 20px;
}

img {
    margin-right: 30px !important;
    height: 20%;
    width: 20%;
    border-radius: 15%;
    float: right;

}