<header>
    <h1>{{blog.title}}</h1>
    <h5>{{blog.date | date: 'dd.MM.yyyy'}}</h5>
</header>

<br>
<img class="TextWrapRight" src="{{blog.imgUrl}}">
<p>{{blog.content}}</p>

<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <ul class="nav">
            <li><button class="btn btn-primary" (click)="editBlog(blog)">Edit</button></li>
            <li><button class="btn btn-danger" (click)="deleteBlog(blog.id)">Delete</button></li>
            <li><button class="btn btn-link" (click)="goBackToMainPage()">Go back to the main page</button></li>
        </ul>
        
    </div>
</div>

