<h2> BLOGEO </h2>

<img class="TextWrapRight" src="https://www.w3schools.com/images/w3schools_green.jpg"> 

<P>
    Blogeo je sajt koji se bavi izradom blogova na temu geografije. Možete dodati novi blog ili izmeniti ili obrisati postojeći.
    Ovde možete naći razne zanimljivosti o državama, gradovima, rekama, planinama, pustinjama itd. Ukoliko ste kreativni i želite da podelite sa nama zanimljive činjenice, pridružite nam se.
    
</P>

<ul>
    <li *ngFor="let blog of blogs">
      {{ blog.id }} {{ blog.title }}
    </li>
</ul>